attrs==19.3.0
backcall==0.2.0
click==7.1.2
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
eli5==0.10.1
Flask==1.1.2
graphviz==0.14
gunicorn==20.0.4
ipython==7.16.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.11.2
joblib==0.16.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.2
nltk==3.5
numpy==1.19.0
pandas==1.0.5
parso==0.7.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.5
pygame==1.9.6
Pygments==2.6.1
pyparsing==2.4.7
pytagcloud==0.3.5
python-dateutil==2.8.1
pytz==2020.1
regex==2020.6.8
scikit-learn==0.21.3
scipy==1.5.0
simplejson==3.17.0
six==1.15.0
symspellpy==6.5.2
tabulate==0.8.7
threadpoolctl==2.1.0
tqdm==4.47.0
traitlets==4.3.3
wcwidth==0.2.5
Werkzeug==1.0.1
wordcloud==1.7.0
xgboost==1.1.1
